
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro','Lato',sans-serif;;
}

/* header styles  */

header {
    width: 100%;
    height: auto;
    background-image: url(./images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}


.header {
    padding: 2rem 10% 30px;
}

header .header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header nav img {
    width: 160px;
    height: 32px;
}
header li {
    list-style-type: none;
}

.header a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.header a:hover{
    color: #ff6565;
    cursor: pointer;
}

.header-content {
    margin: 15rem auto 0 auto;
    width: 75%;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    white-space: normal;
}

.title::after {
    content: "Lorem ipsum dolor set amet lorem ipsum dolor set";
    display: block;
    font-size: 16px;
    position: relative;
    margin: 0.25rem auto;
    max-width: 80%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.5;
}

#cta {
    display: block;
    margin: 2rem auto 65px;
    background-color: #ff6565;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 30px;
}

.header-content p {
    max-width: 650px;
    width: 637px;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    line-height: 26px;
    text-align: center;
    padding: 5px;
    margin: 0 auto 29px;

}


@media (max-width: 1024px) {
    header {
        background-position: 42% 50%;
    }

    .header-content {
        width: 90%;
        margin-top: 15rem;
    }

    .title {
        font-size: 1.8rem;
    }

    #cta {
        padding: 12px 24px;
    }
}

@media(max-width: 600px){
    header {
        background-position: 35% 50%;
    }
    .header {
        padding: 2rem 1% 30px;
    }

    nav ul {
        display: none;
    }
    nav img {
        margin: 0 auto;
    }

    .header-content {
        margin-top: 18rem;
    }
    .header-content p {
        width: 100%;
    }
}
