* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
}
aside {
    flex: 1;
}
article, aside {
    overflow-y: auto;
}
.Buny {
    width: 150px;
    border-radius: 50%;
}